@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
}

nav {
    display: flex;
    height: 9vh;
    border-bottom: 1px solid rgb(179, 179, 179);
    box-shadow: rgb(179, 179, 179) 0px 0px 10px 1px;
    
}

.artistName {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'Satisfy', cursive;
    width: 30%;
}
.name {
    text-align: center;
    font-size: 30px;
}
.navigation {
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 9vh;
    width: 70%;
}

.sites {
    width: 50%;
    
}
.tag {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-right: 60px;
    transition: 0.3s;
    color: rgb(102, 102, 102);
    text-decoration: none;
}

.pressed {
    color: black;
}

.tag:hover {
    cursor: pointer;
    color: black;
}

.container {
    display: flex;
    justify-content: center;
    min-height: 150vh;
}

.worksPage {
    display: flex;
    min-height: 150vh;
    width: 90%;
}

.workColum {
    padding: 40px 0px 40px 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 33.33%;
    min-height: 150vh;
}



.firstPaint {
    margin-bottom: 40px;
}



.painting {
    cursor: pointer;
    opacity: 0.9;
    border-radius: 7px;
    box-shadow: black 0px 0px 10px 3px;
    height: 350px;
    width: 300px;
    object-fit:cover;
    transition: 0.5s;
}

.painting:hover {
    transform: scale(102%);
    opacity: 1;
    box-shadow: black 0px 0px 15px 3px;
}





footer {
    background-color: rgb(34, 33, 33);
    height: 10vh;
}

.nameFooter {
    font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 15px;
        padding-top: 30px;
        color: white;
    
}

.overlay {
    display: none;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.425);
}
.modal {
    overflow: scroll;
    display: flex;
    width: 90%;
    height: 80%;
    margin: auto;
    background-color: rgb(49, 44, 44);
    box-shadow: rgb(6, 6, 6) 0px 0px 30px 3px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

.show {
    display: inline-block;
}

.modalImage {
    width: 40%;
    object-fit: cover;
}

.modalText {
    width: 60%;
}
.tip {
    font-family: 'Roboto', sans-serif;
    color: white;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 100px;
    text-align: center;
    font-size: 30px;
   
}

.modalHeader {
    text-align: center;
    font-family: 'Satisfy', cursive;
    padding: 40px;
    color: white;
    font-size: 50px;
}

.modalButton {
    cursor: pointer;
    font-size: 50px;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 30px;
    top: 10px;
    color: white;
}


